* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: url("./Form-Background-Black-White.png") no-repeat center/cover;
}

.container {
  margin-top: 20px;
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
}
.primary-heading {
  text-align: center;
  padding: 7px;
  text-shadow: aliceblue 2px 2px 8px;

  background-image: linear-gradient(
    to bottom right,
    rgb(59, 59, 59),
    rgb(255, 255, 255)
  );
  margin: 0px auto;
}
@media only screen and (max-width: 900px) {
  body {
    margin: auto;
  }
}
